html{
  color:grey;
  background-color: #222;
}

.title{
  font-size:25px
}

div {
  box-sizing:border-box;
}

.exercise{
  transform:translate(500px, 200px);
}
.newButton{
  cursor:hand;
}

.fretboard-super{
  stroke-width:5;
}

.fretboard{
  stroke:black;
  fill:#d6ad01;
}
.staticFretboard .fretboardDots, .staticFretboard .frets ,.noteDotCollection{
  transform:translateX(200px);
}
.fret{
  stroke:black;
  fill:url(#fretGradient);
  width:60;
  height:1000;
  y:100;
}
.fret:nth-child(2){
  fill:#ccf;
}

.dot{
  stroke:none;
  fill:rgb(0,0,0);
  cy:611;
  r:65;
}
.doubledot{
  stroke:none;
  fill:rgb(0,0,0);
  r:65
}

.doubledot.top{
  cy:350;
}

.doubledot.bottom{
  cy:850;
}
.guitar-string{
  stroke:none;
  fill:url(#stringPattern);
  x:0;
  height:30;
  width:11000;
}
.noteDot{
  transform: translate(-85px, 13px);
  stroke:white;
  stroke-width:15;
  fill:#990000;
  r:85;
}
