html{
  color:grey;
}

.title{
  font-size:25px
}

div {
  box-sizing:border-box;
}

.fretboard-super{
  stroke-width:15
}

.fretboard{
  stroke:black;
  fill:rgb(111,80,0);
}
.fret{
  stroke:black;
  fill:rgb(192,192,192);
}
.dot{
  stroke:none;
  fill:rgb(255,255,240);
}
.guitar-string{
  stroke:none;
  fill:url(#stringPattern);
}
